@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Nunito&display=swap');
.judul {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
html, body {
    height: 100%;
}
html {
    min-height: 100%;
    background-image: url(./meme3.png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.jlirik{
    font-size: x-large;
    text-align: center;
    color: white;
}
.lirik{
    color: white;
    text-align: center;
    font-family: 'Heebo' sans-serif;
    font-size: larger;
}
.lagu{
    display: block;
    position: relative;
    text-align: center;
}
.credit a{
    position: relative;
    color: white;
    text-align: center;
    font-size: large;
    left: 925px;
    margin-top: 10px;
}
